# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.env/
.venv/
env/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code / PyCharm / IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Redis dump files
dump.rdb
